@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');

body {
    background: #121212;
}


#circle {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: ease-in-out 0.25s;
}

.circle {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute;

}

.animated {

}

.inner {
    background: #7e3ff2aa;
    z-index: 1;

}

.outer {
    background: #7E3FF288;
    z-index: 0;
}

#score {
    position: fixed;
    font-family: "Roboto", sans-serif, monospace;
    font-size: 300%;
    font-weight: bold;
    margin: 0;
    color: #ffffff;
}

.particle {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-size: contain;
}

@keyframes size-down {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(0, 0);
    }

}